*.iml
.gradle
.kotlin
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
index.html
package.json
*.lock
public/
vite.config.ts
tailwind.config.js
postcss.config.js
app/build/
build/
.gradle/
*.keystore
*.jks
.emulator-data/
